:root {
    box-sizing: border-box;
    --color-one: #e8d887;
    --color-two: #ebe2ae;
    --font-big: 2.5rem;
    background-color: var(--color-one);
    font-family: 'Ubuntu Mono', monospace;
}



h1 {
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
}

.top-section {
    width: 99vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: var(--font-big);
    background-color: var(--color-two);
    border-radius: 50px;
}

img {
    border-radius: 50px;
}



